<form action="" (ngSubmit)="onSubmit(formSignIn)" #formSignIn="ngForm">
    <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="text" name="email" id="
            exampleInputEmail1" placeholder="Email" ngModel #txtEmail="ngModel" required>
        <i *ngIf="txtEmail.touched && txtEmail.errors?.required">
            Email Mail is Required
        </i>
        <i *ngIf="txtEmail.errors?.email">
            Email Is Not Valid
        </i>
        <br>
        <label for="password">PassWord</label>
        <input type="password" name="password" id="password" placeholder="PassWord" ngModel minlength="6" #txtPassword="ngModel">
        <br><br>
    </div>
    <div ngModelGroup="subjects">
        <label for=""><input [ngModel]="false" type="checkbox" name="nodejs" id="">Nodejs</label>
        <label for=""><input [ngModel]="false" type="checkbox" name="php" id="">PHP</label>
        <label for=""><input [ngModel]="false" type="checkbox" name="python" id="">Python</label>
    </div>
    <br>
    <button [disabled]="formSignIn.invalid">Submit</button>
</form>
