<div class="d-flex justify-content-center">
    <img width="100" alt="Angular Logo" class="logo"
        src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
<i class="text-xs text-light bg-dark">Double Click On Todo Item To Editing Item</i>
<input type="text" class="todo-input" placeholder="What Needs To Be Done" [(ngModel)]="todoTitle"
    (keyup.enter)="addTodo()">

<app-todo-item 
    *ngFor="let todo of todosFiltered()" 
    [todo]="todo"
    (checkedItem)="doneEdit($event)"
    (blurredItem)="doneEdit($event)"
    (enteredItem)="doneEdit($event)"
    (doubleClickedItem)="editTodo($event)"
    (cancelledItem)="cancelEdit($event)"
    (deletedItem)="deleteTodo($event)"
    >
</app-todo-item>

<div class="extra-container">
    <div><label><input type="checkbox" class="mr-4" (change)="checkAllTodos()">Check All</label></div>
    <div>{{remaining()}} items Left</div>
</div>

<div class="extra-container">
    <div>
        <button [ngClass]="{'active': filter === 'all'}" (click)="filter='all'">All</button>
        <button [ngClass]="{'active': filter === 'active'}" (click)="filter='active'">Active</button>
        <button [ngClass]="{'active': filter === 'completed'}" (click)="filter='completed'">Completed</button>
    </div>

    <div *ngIf="atLeastOneCompleted()">
        <button class="btn btn-success text-dark " (click)="clearCompleted()">Clear Completed</button>
    </div>
</div>
