<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a routerLink="/" class="navbar-brand">Home Page</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" routerLink="/struct">Words App <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/service">Service Http Request</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/person-list">List Of Persons</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/pipe">Learn Pipes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/cards">Card-Group</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/contact-form">Contact-Form</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>
<router-outlet></router-outlet>